.root { 
	-fx-background-color: #000f18; 
}

.button:hover { 
	-fx-background-color: #4ec9dd;
}

.button { 
	-fx-background-color: #27739b;
	-fx-background-radius: 10px; 
	-fx-text-base-color: #f8fefe;
}