.root { 
	-fx-background-color: #0b001a; 
}

.button:hover { 
	-fx-background-color: #f9e6be;
}

.button { 
	-fx-background-color: #ecd197;
	-fx-background-radius: 10px; 
	-fx-text-base-color: #3a2752;
}

.text-area .content {
	-fx-background-color: #f9e6be;
}

.text-area {
	-fx-text-inner-color: #3a2752;
}